<section class="workboard">
  <div class="board-header">
    <h5 class="no-margin">
      <span>Connect Platform Product Group</span> 
      <span class="delimiter">/</span>
      <span>Customer Connect</span>
    </h5>
  </div>
  <div class="context">
    <div class="work-panel first">
      <h6 class="no-margin">Environments</h6>
      <ul class="menu">
        <li *ngFor="let item of listedEnvs; index as i;" [ngClass]="{'selected': item.id === selectedEnv}" (click)="onEnvChange(item)">
          <span>{{item.env}}</span>
        </li>
      </ul>
    </div>
    <div class="work-panel second">
      <h6 class="no-margin">Versions</h6>
      <ul class="menu">
        <li *ngFor="let item of listedVersions; index as i;" [ngClass]="{'selected': item.id === selectedVersion}" (click)="onVersionChange(item)">
          <span>{{item.version}}</span>
        </li>
      </ul>
    </div>
    <div class="work-panel third ">
      <section class="config-display">
        <pre *ngIf="configData" [innerHTML]="configData | prettyprint: [true, 2]"></pre>
      </section>
    </div>
  </div>
</section>
